<form [formGroup]="form" (ngSubmit)="onUpdate()">
  <h1>Appointment Update</h1>
  <mat-card [style.overflow]="'auto'" [style.height.px]="'auto'">
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Weight</mat-label>
      <input matInput type="text" [formControl]="weightControl" placeholder="Weight">

    </mat-form-field>

    <mat-form-field appearance="outline" class="fullwidth">
        <mat-label>Height</mat-label>
        <input matInput type="text" [formControl]="heightControl" placeholder="Height">
  
      </mat-form-field>

      
      <mat-form-field appearance="outline" class="fullwidth">
        <mat-label>Checked-up by</mat-label>
        <input matInput type="text" [formControl]="operatedbyControl" placeholder="Checked-up by">
  
      </mat-form-field>

        <!-- <mat-form-field>
            <mat-label>Health Status</mat-label>
            <mat-select [formControl]="healthstatusControl" [(value)]="healthStatus">
              
              <mat-option value="Normal">Normal</mat-option>
              <mat-option value="Mal Nutrition">Mal Nutrition</mat-option>
             
            </mat-select>
          </mat-form-field> -->

            <mat-form-field>
              <mat-label>Health History</mat-label>
              <mat-select matNativeControl [formControl]="selectedFormControl" required (change)="doSomething($event)">
                <mat-option value="None" >None</mat-option>
                <mat-option value="Other" >Other</mat-option>
                
              </mat-select>
            </mat-form-field>
         
          
            <p>You selected: {{selectedFormControl.value}}</p>
          
          <ng-container *ngIf="selectedFormControl.value == 'Other'">
            <mat-form-field appearance="outline" class="fullwidth">
              <mat-label>Health History</mat-label>
              <input matInput type="text" [formControl]="healthHistoryControl" placeholder="Specify Health History">
        
            </mat-form-field>
          </ng-container>


    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" class="halfwidth">Update</button>
    <button mat-flat-button mat-dialog-close class="halfwidth">Cancel</button>

  </mat-card>
</form>